LOCATEANYTHING_ROOT="C:\Users\Frantech Tafadzwa\Machine Learning (ML)\eagle\Embodied"
LOCATEANYTHING_MODEL_PATH=nvidia/LocateAnything-3B
YOLO_WEIGHTS_PATH="C:\Users\Frantech Tafadzwa\Machine Learning (ML)\Counter ML\yolo26n.pt"
